@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background-image: radial-gradient(
    at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

.coin {
  @apply z-50 disabled:hover:scale-100 hover:scale-110 rounded-full md:border-b-8 border-b-4  flex items-center justify-center;
  height: 7rem;
  width: 7rem;
}

.coin.inner {
  @apply flex hover:scale-100 justify-center items-center rounded-full h-20 w-20 md:border-t-8 border-t-4 border-b-0 md:h-36 md:w-36 bg-white;
}

.coin.red {
  @apply bg-red-500 border-b-red-800;
}
.coin.blue {
  @apply bg-blue-500 border-b-blue-800;
}
.coin.green {
  @apply bg-green-300 border-b-green-500;
}
.coin.yellow {
  @apply bg-yellow-500 border-b-yellow-800;
}
.coin.purple {
  @apply bg-purple-500 border-b-purple-800;
}

@screen md {
  .coin {
    @apply z-20;
    height: 11.4rem;
    width: 11.4rem;
  }
}

.coin-top {
  @apply absolute;
  transform: translateY(-80%);
}

.coin-top-left {
  @apply absolute;
  transform: translate(-100%, -10%);
}

.coin-top-right {
  @apply absolute;
  transform: translate(100%, -10%);
}
.coin-bottom-right {
  @apply absolute;
  transform: translate(70%, 100%);
}

.coin-bottom-left {
  @apply absolute;
  transform: translate(-70%, 100%);
}
